= title t('nav.team_extra')

%hr.divider

.text-center.hero
  %h1= t('nav.team_extra')
  "Big things, important undertakings are possible with joint efforts." - Mustafa Kemal ATATÜRK

%hr.divider

%ul#team.centered.thumbnails
  = render @teams
