.container
  .row-fluid
    .span3
      %h4 Our Company
      %ul
        %li=link_to "About us", "#"
        %li=link_to "Meet the team", "#"
        %li=link_to "Concat", "#"
    .span3
      %h4 Open Source Projects
      %ul
        %li=link_to "Kebab Project", "http://www.github.com/kebab-project", :target => "_blank"
        %li=link_to "Dudupress", "http://www.github.com/lab2023/dudupress", :target => "_blank"
        %li=link_to "Rails Templates", "http://www.github.com/lab2023/rails-template", :target => "_blank"
    .span4
      %h4 Recent Articles
      %ul
        %li=link_to "Lorem ipsum dolor sit amet", "#"
        %li=link_to "Lorem ipsum dolor sit amet", "#"
        %li=link_to "Lorem ipsum dolor sit amet", "#"
        %li=link_to "Lorem ipsum dolor sit amet", "#"
    .span2
      %h4 Follow us
      %ul
        %li=link_to "Github", "http://www.github.com/lab2023", :target => "_blank"
        %li=link_to "Facebook", "http://www.facebook.com/lab2023" , :target => "_blank"
        %li=link_to "Twitter", "http://www.twitter.com/lab2023", :target => "_blank"
        %li=link_to "Blog", "http://blog.lab2023.com"
  .row-fluid.small
    .span6
      Pamukkale University Research Area Z-13 Kinikli - Denizli / Turkey
    .span6.text-right
      &copy; 2012 - lab2023 - internet technologies - All rights reserved.