= title t('nav.story')

%hr.divider

.text-center.hero
  %h1= t('nav.story')

%hr.divider

%iframe{:width => "100%", :frameborder => "0", :height => "650",
  :src => "http://embed.verite.co/timeline/?source=0An4_f3eDAcg4dHdtMlN2bjI4ckRaTlhrTE1TQkpJWEE&font=Bevan-PotanoSans&maptype=ROADMAP&lang=en&height=650"}