%li.thumbnail.span3
  = link_to image_tag(project.project_pictures.first.image.url(:small), alt: project.name), project_path(project), :class => "screenshot"
  .caption
    %h4.text-center= link_to project.name, project_path(project), title: project.name