=title t('nav.projects_extra')

%hr.divider

.text-center.hero
  %h1= t('nav.projects_extra')
  We always understand you and always provide solutions.

%hr.divider

#works.text-center.row-fluid
  .span12
    = render @projects