/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker */

@import "compass"

// Variables
$baseFontFamily: "Open Sans Condensed", "Helvetica Neue", Arial, sans-serif
$baseFontSize: 25px // 1.15em
$baseLineHeight: 35px // 1.5em
$navbarHeight: 121px
$baseColor: #31739d
$highlightColor: #F4EBD2

@import "bootstrap"

// Base
body
  background: $grayDark url(furley_bg.png)

::selection
  background-color: $highlightColor

@import "bootstrap-responsive"

h1, h2, h3, h4, h5, h6
  font-weight: 700
  //@include text-shadow(-1px -1px 1px black)
  margin: 5px 0px
  padding: 5px 0px

hr
  margin: 20px 0

// Classes
.text-center
  text-align: center

.text-right
  text-align: right

.gray
  color: $grayLight
.color
  color: $baseColor

.small
  font-size: 70%

.gray-linear-gradient
  +background-image(linear-gradient(#fff, #d1d1d1))
  &:hover
    +background-image(linear-gradient(#d1d1d1, #fff))

.hero
  margin-top: -10px
  font-size: 140%

hr.divider
  border: 0
  background: url(divider.png) no-repeat center
  height: 15px
  margin: 30px auto

// Elements
#header
  border-top: 5px solid $baseColor
  padding-top: 20px
  ul.nav
    text-align: center
    margin-top: 60px
    li
      float: none
      display: inline-block
      margin: 10px
      a
        font-weight: 800

  i#slogan
    margin-bottom: -20px
    display: block
    font-size:  60%
  #logo
    cursor: pointer
    background-color: #d1d1d1
    display: inline-block
    height: 148px
    width: 148px
    text-align: center
    padding:  5px
    +border-radius(100px)
    +box-shadow(0px 4px 0px darken($baseColor, 20))
    border: 6px solid $baseColor
    color: $black
    &:hover
      text-decoration: none
    img
      height: 105px
    h1
      font-size: 25px
      margin-top: 0
      padding: 0
      line-height: 24px
    h2
      font-size: 10px
      margin: 0
      padding: 0
      line-height: 0

#hero
  text-align: center
  h1
    margin-top: -10px
    font-size: 70px
    line-height: 65px
    text-transform: uppercase
  h2
    font-size: 45px
    line-height: 50px
    text-transform: uppercase

#what-we-do
  text-align: center
  a.rounded
    background-color: lighten($baseColor, 8)
    +border-radius(50px)
    margin: 5px
    display: inline-block
    border: 5px solid $highlightColor
    line-height: 40px
    height: 45px
    width: 250px
    font-size: 23px
    color: white
    padding-top: 2px
    letter-spacing: 1px
    &:hover
      text-decoration: none
      border: 5px solid darken($highlightColor, 10)

#works
  margin-top: 10px
  .thumbnail
    background-color: white
    display: inline-block
    margin: 10px
    width: 250px
    line-height: 10px
    &:hover
      @include box-shadow(lighten($yellow, 30) 0 0 15px)
      img
        @include opacity(.9)
    h3
      margin: 0
      line-height: 30px
      padding: 0
    a
      line-height: 30px
      font-size: 75%

#what-we-do-details
  .well
    font-size: 85%
    line-height: 30px
    text-align: center
    min-height: 360px

ul#team
  li
    .info
      font-size: 75%
      line-height: 25px
    p.contact
      font-size: 90%
      i
        margin-top: 5px

#footer, footer
  *
    line-height: 25px
  background: url(low_contrast_linen.png)
  font-size: 75%
  color: $grayLighter
  margin-top: 40px
  padding: 60px 0 30px 0
  height: 100%
  border-top: 1px solid #000
  .small
    margin-top: 40px
    font-size: 80%
  a
    color: $grayLight
    &:hover
      color: $grayLighter
