/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker */

@import "compass"

// Variables
$baseFontFamily: "PT Sans", "Helvetica Neue", Arial, sans-serif
$baseFontSize: 16px // 1.15em
$baseLineHeight: 28px // 1.5em
$navbarHeight: 120px
$baseColor: #1086ce

@import "bootstrap"

// Base
body
  padding-top: 180px
  background: #eee url(furley_bg.png)

@import "bootstrap-responsive"

// Elements
#logo
  padding: 0
  img
    width: 250px
    margin-top: 20px
    margin-left: 20px

#mini-nav
  background: $grayDark url(low_contrast_linen.png)
  .container
    ul
      @media (max-width: 979px)
        text-align: center
      text-align: right
      float: none
      li
        float: none
        display: inline-block
        margin: 0 20px 0 0
        a
          padding: 0
          text-shadow: none
          font-size: 80%
          color:  $grayLight
          &:hover
            color: $grayLighter !important
//border-top: 4px solid $baseColor
#main-nav
  a
    font-size: 130%

#home-hero
  font-size: 55px
  font-weight: 800
  letter-spacing: 2px
  line-height: 55px
  color:  $grayDark
  strong
    color: #000

ul#projects
  margin-top: 50px
  text-align: center
  li
    cursor: pointer
    display: inline-block
    float: none
    .wrapper
      position: relative
      z-index: 1
      height: 250px
      overflow: hidden
      .info
        display: none
        position: absolute
        z-index: 0
        width: 250px
        height: 250px
        margin-top: -250px
        background-color: #222
        color: #fff
        @include opacity(.9)
    &:hover
      @include box-shadow(lighten($baseColor, 30) 0 0 15px)
      .wrapper
        img
          @include opacity(.9)

// Classes
.text-center
  text-align: center

