!!!
%html
  %head
    = javascript_include_tag "documentup.min.js"
  %body

:javascript
  DocumentUp.document({
    repo:  "#{@open_source.repository_url.gsub("https://github.com/", "")}",
    //name: "DocumentUp",
    twitter: ["#{@open_source.twitter_username.present? ? @open_source.twitter_username : "lab2023" }"],
  });